header {
    /*    border: 1px solid black;*/
    position: relative;
    height: 80px;
}

header > nav > ul {
    position: absolute;
    right: 30px;
    bottom: 0;

}

header > nav > ul > li {
    display: inline-block;
    font-family: 'Noto Sans HK', serif;
    font-style: normal;
    font-weight: 700;
    padding: 10px;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;

}

header > nav > ul > li > a {
    text-decoration-line: line-through;
    color: #5b5858;
}

header > h1 {
    /*margin-left: 10px;*/
    position: absolute;
    height: 35px;
    left: 6.6%;
    right: 86.81%;
    font-family: 'Noto Sans HK';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;

    color: black;

    transform: matrix(1, 0, 0, -1, 0, 0);

}

header > h1:hover {
    cursor: pointer;
}

main > section:nth-child(1) {
    /*background-color: red;*/
    /*background-image: url("assets/images/homebackground.jpg");*/
    background-color: black;
    height: 800px;
    position: relative;
    display: flex;
}

/*Header Background*/
header {
    /*background-image: url("assets/images/homebackground.jpg");*/
    background-color: lightgray;
}

main > section:nth-child(1) > div {
    flex-grow: 1;
}

/*Home description Start*/
main > section:nth-child(1) > div:nth-child(1) {
    position: absolute;
    left: 80px;
    bottom: 200px;
    font-family: "Noto Sans HK";
    font-style: normal;
}

#HD_1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: lightgray;
    opacity: 5.8;
}

#HD_2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: deepskyblue;
    mix-blend-mode: normal;
}

#HD_3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: lightblue;
}


#my_work {
    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: black;

    text-align: center;

    background: rgba(195, 208, 194, 0.79);
    background-blend-mode: color;
    border-radius: 10px;
    padding: 10px;

    position: absolute;
    top: 600px;
    left: 100px;
}

#my_work:hover {
    cursor: pointer;
}

/*Home Description End*/


/*profile picture*/
main > section:nth-child(1) > div:nth-child(2) {
    /*  border: 1px solid black;*/
    position: relative;
    display: flex;
    justify-content: end;
    right: 50px;
}

#profile_picture {
    position: absolute;
    bottom: 200px;
}

/*About Section Start*/
main > section:nth-child(2) {
    position: relative;
    /*background: url("/assets/images/83b8165c-d311-4313-942a-1e42e76df2f1.webp");*/
}

#about {
    position: relative;
    width: 164px;
    height: 44px;
    left: 638px;
    top: 10px;

    font-family: Jua;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;

    text-transform: uppercase;
    color: #1778F2;
    stroke: #0C0C0C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0.25);
}

.pre {
    position: relative;
    width: 551px;
    height: 450px;
    left: 48px;
    top: 97px;

    background: radial-gradient(50% 50% at 50% 50%,
    rgba(96, 132, 166, 0.63) 99.99%,
    rgba(96, 132, 166, 0) 100%);
}

main > section:nth-child(2) > pre > b {
    position: absolute;
    width: 81px;
    height: 30px;
    left: 230px;
    top: 20px;
    font-family: "Noto Sans HK";
    font-style: oblique;
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: underline;

    text-transform: uppercase;

    color: #2F2B2B;
}

span.pre_1 {
    position: absolute;
    width: 441px;
    height: 78px;
    left: 25px;
    top: 50px;

    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    text-align: center;

    color: #2F2B2B;
}

span.pre_2 {
    position: absolute;
    width: 504px;
    height: 52px;
    left: 20px;
    top: 180px;

    font-family: 'Noto Sans HK';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    text-align: center;

    color: #2F2B2B;

}

span.pre_3 {
    position: absolute;
    width: 443px;
    height: 78px;
    left: 40px;
    top: 265px;

    font-family: 'Noto Sans HK';
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    line-height: 26px;
    text-align: center;

    color: #2F2B2B;
}

main > section:nth-child(2) > pre > button {
    position: absolute;
    width: 175px;
    height: 32px;
    left: 190px;
    top: 375px;

    font-family: 'Noto Sans HK';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    color: #2F2B2B;
    background: #5B5858;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#DI {
    position: absolute;
    width: 740px;
    height: 608px;
    left: 600px;
    top: 98px;
    right: 0;
    opacity: 80%;
}

/*School and institute*/
#Tissa {
    position: relative;
    width: 124px;
    height: 124px;
    left: 133px;
    top: 200px;
}

#POW {
    position: relative;
    width: 124px;
    height: 142px;
    left: 133px;
    top: 250px;
}

#MO {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 770px;
    top: 200px;
}

#IJSE {
    position: relative;
    width: 130px;
    height: 130px;
    left: 770px;
    top: 776px;
}


#P_1 {
    position: relative;
    left: 411px;
    top: 633px;
    color: #2F2B2B;
    font-size: 15px;
    font-family: "Noto Sans HK";
    line-height: 25px;
}

#P_2 {
    position: relative;
    left: 411px;
    top: 800px;
    color: #2F2B2B;
    font-size: 15px;
    font-family: "Noto Sans HK";
    line-height: 20px;
}

#P_3 {
    position: relative;
    top: 633px;
    left: 1040px;
    color: #2F2B2B;
    font-size: 15px;
    font-family: "Noto Sans HK";
    line-height: 20px;
}

#P_4 {
    position: relative;
    top: 800px;
    left: 1040px;
    font-size: 15px;
    font-family: "Noto Sans HK";
    line-height: 20px;
}

/*Educational start*/

#experience_h1 {
    text-align: center;
    font-weight: 300;
    color: rgba(94, 89, 89, 1);
    position: relative;
    top: 50px;
    font-family: 'Belanosima', sans-serif;
}

.experience_container {
    width: 80%;
    padding: 50px 0;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
    top: 25px;
}

.experience_container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 3px;
    height: 100%;
    background: rgba(27, 155, 132, 1);
    z-index: 1;
}

.timeline1-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline1-block-right {
    float: right;
}

.timeline1-block-left {
    float: left;
    direction: rtl;
}

.marker {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    /*border: 2px solid #f5f7fa;*/
    background: rgba(27, 155, 132, 1);
    margin-top: 45px;
    z-index: 9999;
}

.timeline1-content {
    width: 95%;
    padding: 0 15px;
    color: rgba(94, 89, 89, 1);
}

.timeline1-content img {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: 150px;
}

.timeline1-content p {
    position: relative;
    font-family: "Noto Sans HK", serif;
    font-size: 16px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: rgba(94, 89, 89, 1);
    bottom: 10px;
}

@media screen and (max-width: 768px) {
    .experience_container:before {
        left: 8px;
        width: 2px;
    }

    .timeline1-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .timeline1-block-right {
        float: none;
    }

    .timeline1-block-left {
        float: none;
        direction: ltr;
    }
}

/*About section End*/


/*Skills section start*/
/*main > section:nth-child(3) {*/
/*    position: relative;*/
/*}*/

#skills_Head {
    position: relative;
    width: 164px;
    height: 44px;
    left: 638px;
    top: 10px;


    font-family: Jua, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;

    color: #1778F2;
    stroke: #0C0C0C;

    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0.25);

}

.SK_1 {
    position: relative;
    width: 415px;
    height: 28px;


    color: #4E4D4D;
    text-align: center;
    font-size: 21px;
    font-family: Noto Sans HK, serif;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.amg-skills {
    /*position: relative;*/
    max-width: 800px;
}

.amg-badge-collection {
    display: flex;

}

.amg-badge {
    padding: 20px 5%;
    display: flex;
    /*width: 50%;*/

}

.amg-badge img {
    /* border: 1px solid red;*/
    flex-grow: 1;
    /*flex-shrink: 0;*/
    width: 165px;
    height: 165px;
}

/* .amg-badge h3{
     margin: 0;
     line-height: 50px;
     text-align: center;
     color: #FFFFFF;
 }*/
@media only screen and (max-width: 639px) {
    .amg-badge {
        width: 50%;
        padding: 20px 10%;
    }
}

/*portfolio section start*/
/*main > section:nth-child(4) {*/
/*    position: relative;*/
/*}*/

#portfolio {
    position: relative;
    width: 164px;
    height: 44px;
    left: 638px;
    top: 10px;

    font-family: Jua, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;

    color: #1778F2;
    stroke: #0C0C0C;

    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0.25);
}

/*Gallery Section Start*/
/*main > section:nth-child(5) {*/
/*    position: relative;*/
/*}*/

#Gallery {
    position: relative;
    width: 164px;
    height: 44px;
    left: 638px;
    top: 10px;

    font-family: Jua, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;

    color: #1778F2;
    stroke: #0C0C0C;

    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0.25);

}

/*Gallery Section End*/

/*Contacts section Start*/
main > section:nth-child(6) {
    position: relative;
    background: #F8F4F4;
    width: 100%;
    height: 710px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

#contactMe {
    position: relative;
    width: 164px;
    height: 44px;
    left: 638px;
    top: 10px;

    font-family: Jua, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;

    color: #1778F2;
    stroke: #0C0C0C;

    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0.25);
}

/*add section into contact section for add contact form*/

main > section:nth-child(6) > section:nth-child(2) {
    /*border: 2px solid red;*/
    width: 70%;
    height: 70%;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 40px;
}

/*add border style for contact form*/
main > section:nth-child(6) > section:nth-child(2) > aside:nth-child(1) {
    /*border: 1px solid red;*/
    height: 160px;
    width: 160px;
    position: relative;
    left: 40px;
    top: 26px;
}

/*contact gif style*/
main > section:nth-child(6) > section:nth-child(2) > aside:nth-child(1) > img {
    height: 350px;
    width: 340px;
    border-radius: 170px;
}

/*Add Form section */
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) {
    position: absolute;
    right: 40px;
    bottom: 150px;
}

/*!*add space in between form sections*!*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > div {
    position: relative;
    padding-bottom: 15px;
}

/*styles name, email, subject as a group selector*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > div > input {
    width: 450px;
    height: 30px;
    border: none;
    font-size: 15px;
    font-family: Jua, serif;
    font-style: normal;
}

/*add styles message area*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > div:nth-child(4) > textarea {
    width: 450px;
    height: 150px;
    border: none;
    outline-width: 0;
    font-size: 15px;

    font-family: Jua, serif;
    font-style: normal;
}

/*send button*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > button:nth-child(5) {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    position: relative;
    left: 60px;
}

/*get fir left icon*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > button:nth-child(5) > i {
    position: relative;
    left: -2px;
}

/*add hover for send button*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > button:nth-child(5):hover {
    width: 31px;
    height: 31px;
}

#footerHr {
    position: relative;
    top: 200px;
}


/*Contacts section End*/

/*Footer section start*/
footer {
    position: relative;
    top: 200px;
}

/*Footer section End*/