header {
    /*    border: 1px solid black;*/
    position: relative;
    height: 80px;
}

header > nav > ul {
    position: absolute;
    right: 30px;
    bottom: 0;

}

header > nav > ul > li {
    display: inline-block;
    font-family: 'Noto Sans HK', serif;
    font-style: normal;
    font-weight: 700;
    padding: 10px;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;

}

header > nav > ul > li > a {
    text-decoration-line: line-through;
    color: #5b5858;
}

header > h1 {
    /*margin-left: 10px;*/
    position: absolute;
    height: 35px;
    left: 6.6%;
    right: 86.81%;
    font-family: 'Noto Sans HK', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;

    color: black;

    transform: matrix(1, 0, 0, -1, 0, 0);

}

header > h1:hover {
    cursor: pointer;
    width: 200px;
    height: 55px;
}

main > section:nth-child(1) {
    /*background-color: red;*/
    /*background-image: url("assets/images/homebackground.jpg");*/
    background-color: black;
    height: 800px;
    position: relative;
    display: flex;
}

/*Header Background*/
header {
    /*background-image: url("assets/images/homebackground.jpg");*/
    background-color: lightgray;
}

main > section:nth-child(1) > div {
    flex-grow: 1;
}

/*Home description Start*/
main > section:nth-child(1) > div:nth-child(1) {
    position: absolute;
    left: 80px;
    bottom: 200px;
    font-family: "Noto Sans HK", serif;
    font-style: normal;
}

#HD_1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: lightgray;
    opacity: 5.8;
}

#HD_2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: deepskyblue;
    mix-blend-mode: normal;
}

#HD_3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: lightblue;
}


#my_work {
    font-family: "Noto Sans HK", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: black;

    text-align: center;

    background: rgba(195, 208, 194, 0.79);
    background-blend-mode: color;
    border-radius: 10px;
    padding: 10px;

    position: absolute;
    top: 600px;
    left: 100px;
}

#my_work:hover {
    cursor: pointer;
}

/*Home Description End*/


/*profile picture*/
main > section:nth-child(1) > div:nth-child(2) {
    /*  border: 1px solid black;*/
    position: relative;
    display: flex;
    justify-content: end;
    right: 50px;
}

#profile_picture {
    position: absolute;
    bottom: 200px;
}

/*About Section Start*/
main > section:nth-child(2) {
    position: relative;
    /*background: url("/assets/images/83b8165c-d311-4313-942a-1e42e76df2f1.webp");*/
}

#about {
    position: relative;
    width: 164px;
    height: 44px;
    left: 638px;
    top: 10px;

    font-family: Jua, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;

    text-transform: uppercase;
    color: #1778F2;
    stroke: #0C0C0C;
    text-shadow: 0 4px 4px rgba(0, 0, 0.25);
}

.pre {
    position: relative;
    width: 551px;
    height: 450px;
    left: 48px;
    top: 97px;

    background: radial-gradient(50% 50% at 50% 50%,
    rgba(96, 132, 166, 0.63) 99.99%,
    rgba(96, 132, 166, 0) 100%);
}

main > section:nth-child(2) > pre > b {
    position: absolute;
    width: 81px;
    height: 30px;
    left: 230px;
    top: 20px;
    font-family: "Noto Sans HK", serif;
    font-style: oblique;
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: underline;

    text-transform: uppercase;

    color: #2F2B2B;
}

span.pre_1 {
    position: absolute;
    width: 441px;
    height: 78px;
    left: 25px;
    top: 50px;

    font-family: "Noto Sans HK", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    text-align: center;

    color: #2F2B2B;
}

span.pre_2 {
    position: absolute;
    width: 504px;
    height: 52px;
    left: 20px;
    top: 180px;

    font-family: "Noto Sans HK", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    text-align: center;

    color: #2F2B2B;

}

span.pre_3 {
    position: absolute;
    width: 443px;
    height: 78px;
    left: 40px;
    top: 265px;

    font-family: "Noto Sans HK", serif;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    line-height: 26px;
    text-align: center;

    color: #2F2B2B;
}

main > section:nth-child(2) > pre > button {
    position: absolute;
    width: 175px;
    height: 32px;
    left: 190px;
    top: 375px;

    font-family: "Noto Sans HK", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    color: #2F2B2B;
    background: #5B5858;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#DI {
    position: absolute;
    width: 740px;
    height: 608px;
    left: 600px;
    top: 98px;
    right: 0;
    opacity: 80%;
}

/*School and institute*/
#Tissa {
    position: relative;
    width: 124px;
    height: 124px;
    left: 133px;
    top: 200px;
}

#POW {
    position: relative;
    width: 124px;
    height: 142px;
    left: 133px;
    top: 250px;
}

#MO {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 770px;
    top: 200px;
}

#IJSE {
    position: relative;
    width: 130px;
    height: 130px;
    left: 770px;
    top: 776px;
}


#P_1 {
    position: relative;
    left: 411px;
    top: 633px;
    color: #2F2B2B;
    font-size: 15px;
    font-family: "Noto Sans HK", serif;
    line-height: 25px;
}

#P_2 {
    position: relative;
    left: 411px;
    top: 800px;
    color: #2F2B2B;
    font-size: 15px;
    font-family: "Noto Sans HK", serif;
    line-height: 20px;
}

#P_3 {
    position: relative;
    top: 633px;
    left: 1040px;
    color: #2F2B2B;
    font-size: 15px;
    font-family: "Noto Sans HK", serif;
    line-height: 20px;
}

#P_4 {
    position: relative;
    top: 800px;
    left: 1040px;
    font-size: 15px;
    font-family: "Noto Sans HK", serif;
    line-height: 20px;
}

/*Educational start*/

#experience_h1 {
    text-align: center;
    font-weight: 300;
    color: rgba(94, 89, 89, 1);
    position: relative;
    top: 50px;
    font-family: 'Belanosima', sans-serif;
}

.experience_container {
    width: 80%;
    padding: 50px 0;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
    top: 25px;
}

.experience_container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 3px;
    height: 100%;
    background: rgba(27, 155, 132, 1);
    z-index: 1;
}

.timeline1-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline1-block-right {
    float: right;
}

.timeline1-block-left {
    float: left;
    direction: rtl;
}

.marker {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    /*border: 2px solid #f5f7fa;*/
    background: rgba(27, 155, 132, 1);
    margin-top: 45px;
    z-index: 9999;
}

.timeline1-content {
    width: 95%;
    padding: 0 15px;
    color: rgba(94, 89, 89, 1);
}

.timeline1-content img {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: 150px;
}

.timeline1-content p {
    position: relative;
    font-family: "Noto Sans HK", serif;
    font-size: 16px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: rgba(94, 89, 89, 1);
    bottom: 10px;
}

@media screen and (max-width: 768px) {
    .experience_container:before {
        left: 8px;
        width: 2px;
    }

    .timeline1-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .timeline1-block-right {
        float: none;
    }

    .timeline1-block-left {
        float: none;
        direction: ltr;
    }
}

/*About section End*/


/*Skills section start*/

/*add background color*/
main > section:nth-child(3) {
    background: #fff;
    width: 100%;
    height: 710px;
    position: relative;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}


#skills_Head {
    position: relative;
    width: 164px;
    height: 44px;
    left: 638px;
    top: 10px;


    font-family: Jua, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;

    color: #1778F2;
    stroke: #0C0C0C;

    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0.25);

}

.SK_1 {
    position: relative;
    width: 415px;
    height: 28px;


    color: #4E4D4D;
    text-align: center;
    font-size: 21px;
    font-family: Noto Sans HK, serif;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    text-transform: capitalize;
    bottom: 60px;
}

/*add grid box for language and database*/
main > section:nth-child(3) > section {
    /*border: 2px solid red;*/
    position: relative;
    bottom: 80px;
    /*left:10px;*/
    display: grid;
    height: 250px;

    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

/*add grid box for Framework and tools*/
#frameworkTools {
    /*border: 2px solid red;*/
    position: relative;
    bottom: 80px;
    /*left:10px;*/
    display: grid;
    height: 250px;

    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.amg-skills {
    /*position: relative;*/
    max-width: 800px;
}

.amg-badge-collection {
    display: flex;

}

.amg-badge {
    padding: 20px 5%;
    display: flex;
    /*width: 50%;*/

}

.amg-badge img {
    /* border: 1px solid red;*/
    flex-grow: 1;
    /*flex-shrink: 0;*/
    width: 165px;
    height: 165px;
}

/* .amg-badge h3{
     margin: 0;
     line-height: 50px;
     text-align: center;
     color: #FFFFFF;
 }*/
@media only screen and (max-width: 639px) {
    .amg-badge {
        width: 50%;
        padding: 20px 10%;
    }
}

/*portfolio section start*/
main > section:nth-child(4) {
    position: relative;
    background: #F8F4F4;
    width: 100%;
    /*height: 710px;*/
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

#portfolio {
    position: relative;
    width: 164px;
    height: 44px;
    left: 638px;
    top: 10px;

    font-family: Jua, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;

    color: #1778F2;
    stroke: #0C0C0C;

    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0.25);
}

/*add myProjects header text styles */

#myProjects {
    /*border: 2px solid red;*/
    font-family: Noto Sans HK, sans-serif;
    font-style: normal;

    position: absolute;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    top: 20px;
    left: 20px;
    color: #4E4D4D;

    text-transform: capitalize;
    line-height: 27px; /* 110% */
    letter-spacing: 1px;
}

/*add flex box into my Projects*/

main > section:nth-child(4) > section:nth-child(4) {
    /*border: 1px solid green;*/
    display: flex;
    position: relative;
    top: 86px;
    width: 100%;
    height: 550px;
}

/*div projects boxes*/

main > section:nth-child(4) > section:nth-child(4) > div {
    /*border: 1px solid orange;*/
    width: 100%;
    height: 550px;
}

/*add div for all projects p tags*/
main > section:nth-child(4) > section:nth-child(4) > div > div:nth-child(2) {
    /*border: 1px solid red;*/
    position: relative;
    width: 100%;
    text-align: center;
}

/*add all projects names p tags styles*/
main > section:nth-child(4) > section:nth-child(4) > div > div:nth-child(2) > p {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    color: #3900ff;
    font-size: 22px;
    width: 100%;
}

/*add div for Safari-Management-System project image*/
main > section:nth-child(4) > section:nth-child(4) > div:nth-child(1) > div:nth-child(1) {
    /*border:  1px solid red;*/
    position: relative;
    width: 100%;
    height: 300px;
}

/*safari management system image styles */

main > section:nth-child(4) > section:nth-child(4) > div:nth-child(1) > div:nth-child(1) > img {
    width: 373px;
    height: 260px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

/*add div for Git hyper image for  safari-Management-System*/

main > section:nth-child(4) > section:nth-child(4) > div:nth-child(1) > div:nth-child(3) {
    /*border: 1px solid red;*/
    width: 60px;
    height: 60px;
    position: relative;
    left: 200px;
    top: 50px;
}

/*/*add Git hyper image into  safari-Management-System */
main > section:nth-child(4) > section:nth-child(4) > div:nth-child(1) > div:nth-child(3) > a > img {
    width: 50px;
    height: 50px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

/*add div for add Hostel Manage System project image*/

main > section:nth-child(4) > section:nth-child(4) > div:nth-child(2) > div:nth-child(1) {
    /*border: 1px solid red;*/
    width: 100%;
    height: 300px;
    position: relative;
}

/*Hostel Manage System project image*/
main > section:nth-child(4) > section:nth-child(4) > div:nth-child(2) > div:nth-child(1) > img {
    width: 370px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*add div for add git hyper image for  Hostel Manage System project*/
main > section:nth-child(4) > section:nth-child(4) > div:nth-child(2) > div:nth-child(3) {
    /*border: 1px solid red;*/
    position: relative;
    width: 60px;
    height: 60px;
    left: 200px;
    top: 50px;
}

/*add git hyper image into  Pet & Product Manage System project*/

main > section:nth-child(4) > section:nth-child(4) > div:nth-child(2) > div:nth-child(3) > a > img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}


/*add div for chat application project*/
main > section:nth-child(4) > section:nth-child(4) > div:nth-child(3) > div:nth-child(1) {
    /*border: 1px solid red;*/
    width: 100%;
    height: 300px;
    position: relative;
}

/*chat application project image*/
main > section:nth-child(4) > section:nth-child(4) > div:nth-child(3) > div:nth-child(1) > img {
    width: 342px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*add div for git hyper image into chat application project*/
main > section:nth-child(4) > section:nth-child(4) > div:nth-child(3) > div:nth-child(3) {
    /*border: 1px solid red;*/
    width: 60px;
    height: 60px;
    position: relative;
    left: 200px;
    top: 50px;
}

/*add git image into chat application project */
main > section:nth-child(4) > section:nth-child(4) > div:nth-child(3) > div:nth-child(3) > a > img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

/*add hover for all git divs*/
main > section:nth-child(4) > section:nth-child(4) > div > div:nth-child(3):hover {
    width: 61px;
    height: 61px;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    border-radius: 60px;
}

/*portfolio section  end*/
/*Gallery Section Start*/
/*main > section:nth-child(5) {*/
/*    position: relative;*/
/*}*/
#Gallery {
    position: relative;
    width: 164px;
    height: 44px;
    left: 638px;
    top: 10px;

    font-family: Jua, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;

    color: #1778F2;
    stroke: #0C0C0C;

    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0.25);

}

/*Gallery Section End*/

/*Contacts section Start*/
main > section:nth-child(6) {
    position: relative;
    background: #F8F4F4;
    width: 100%;
    height: 710px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

#contactMe {
    position: relative;
    width: 164px;
    height: 44px;
    left: 638px;
    top: 10px;

    font-family: Jua, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;

    color: #1778F2;
    stroke: #0C0C0C;

    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0.25);
}

/*add section into contact section for add contact form*/

main > section:nth-child(6) > section:nth-child(2) {
    /*border: 2px solid red;*/
    width: 70%;
    height: 70%;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 40px;
}

/*add border style for contact form*/
main > section:nth-child(6) > section:nth-child(2) > aside:nth-child(1) {
    border: 1px solid white;
    height: 550px;
    width: 900px;
    position: relative;
    left: 40px;
    background-color: lightgrey;
    box-shadow: inset 0 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
    border-radius: 20px;
}

/*contact gif style*/
main > section:nth-child(6) > section:nth-child(2) > aside:nth-child(1) > img {
    height: 350px;
    width: 340px;
    border-radius: 170px;
    position: relative;
    top: 60px;
    left: 10px;
}

/*Add Form section */
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) {
    position: absolute;
    right: 40px;
    bottom: 10px;

}

/*!*add space in between form sections*!*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > div {
    position: relative;
    padding-bottom: 15px;
}

/*styles name, email, subject as a group selector*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > div > input {
    width: 350px;
    height: 30px;
    border: none;
    font-size: 15px;
    font-family: Jua, serif;
    font-style: normal;
    background-color: cadetblue;
    padding: 5px;

    border-radius: 15px;
}

/*add styles message area*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > div:nth-child(4) > textarea {
    width: 450px;
    height: 150px;
    border: none;
    outline-width: 0;
    font-size: 20px;

    font-family: Jua, serif;
    font-style: normal;
    background-color: cornflowerblue;
    border-radius: 15px;
    padding: 5px;
}

/*send button*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > button:nth-child(5) {
    border: 2px solid black;
    border-radius: 60px;
    width: 160px;
    height: 40px;
    position: relative;
    left: 60px;

    background-color: black;

    color: white;
    font-family: Jua, serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/*get fir left icon*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > button:nth-child(5) > i {
    position: relative;
    left: -2px;
}

/*add hover for send button*/
body > main > section:nth-child(6) > section:nth-child(2) > form:nth-child(2) > button:nth-child(5):hover {
    width: 70px;
    height: 50px;
}

/*Contacts section End*/

/*Footer section start*/

/*add background color footer section*/

body > footer {
    position: relative;
    /*top: 200px;*/
    width: 100%;
    height: 450px;
    background-color: #102C57;
}

/*footer logo style*/

.topLevel {
    position: absolute;
    height: 35px;
    right: 86.81%;
    font-family: 'Noto Sans HK', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transform: matrix(1, 0, 0, -1, 0, 0);

    top: 30px;
    left: 25px;


}

.lowLevel {
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Noto Sans HK', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 110% */
    text-transform: uppercase;
    top: 40px;
    left: 115px;

}

.lowLevel:hover {
    color: aqua;
    font-size: 35px;
}

.topLevel:hover {
    color: aqua;
    font-size: 45px;
}

/*add footer nav section styles*/
footer > div > nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/*add footer nav section text styles*/
footer > div > nav > a {
    position: relative;
    width: 100%;
    height: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 80px;
    text-align: center;

    text-decoration-line: none;
}

/*add hoover for footer nav*/
footer > div > nav > a:hover {
    font-size: 25px;
    color: aqua;
}

/*add footer nav section font styles*/

footer > div > nav > a {
    color: white;
    font-family: Noto Sans HK, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*add footer location border*/
footer > address > div:nth-child(1) {
    /*border: 2px solid red;*/
    position: absolute;
    right: 280px;
    bottom: 220px;
}

/*add footer location image styles*/
footer > address > div:nth-child(1) > img {
    width: 30px;
    height: 30px;
}

/*add footer location text border*/
footer > address > div:nth-child(2) {
    /*border: 2px solid red;*/
    position: absolute;
    right: 100px;
    bottom: 210px;
}

/*add footer location text styles*/
footer > address > div:nth-child(2) > p {
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
}

/*add hover*/

footer > address > div:nth-child(2) > p:hover {
    color: deeppink;
}


/*add footer gmail border*/

footer > mail > div:nth-child(1) {
    /*border: 2px solid red;*/
    position: absolute;
    right: 230px;
    bottom: 360px;
}

/*Add footer section lets chat text styles*/
footer > mail > div:nth-child(1) > h3 {
    color: white;
    font-family: Candara, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

/*add hover*/
footer > mail > div:nth-child(1) > h3:hover {
    color: deeppink;
    font-size: 35px;
}

/*add footer section gmail img border*/

footer > mail > div:nth-child(2) {
    /*border: 2px solid red;*/
    position: absolute;
    right: 280px;
    bottom: 320px;

}

/*add footer section gmail img styles*/

footer > mail > div:nth-child(2) > img {
    width: 30px;
    height: 30px;
}

/*add footer section gmail styles*/
footer > mail > div:nth-child(3) > p {
    position: absolute;
    right: 80px;
    bottom: 310px;
}

footer > mail > div:nth-child(3) > p > a {
    color: white;
    font-size: 20px;
    font-family: "Times New Roman", system-ui;
}

/*add hover*/

footer > mail > div:nth-child(3) > p > a:hover {
    color: deeppink;
}


/*add footer whatsapp logo styles*/
footer > whatsap > div:nth-child(1) {
    position: absolute;
    right: 280px;
    bottom: 120px;
}

footer > whatsap > div:nth-child(1) > img {
    width: 30px;
    height: 30px;
}

footer > whatsap > div:nth-child(2) {
    position: absolute;
    right: 130px;
    bottom: 130px;
}

footer > whatsap > div:nth-child(2) > a {
    color: whitesmoke;
    font-weight: 400;
    font-family: "Times New Roman", system-ui;
    font-size: 20px;
}

footer > whatsap > div:nth-child(2) > a:hover {
    color: darkseagreen;
}

/*Add copyright label styles*/

footer > copyright > p {
    position: absolute;
    right: 500px;
    color: white;
    font-size: 15px;
    font-family: "Times New Roman", system-ui;
}


/*Footer section End*/
